* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

.TopStyle {
  height: 100px;
  background-color: #ffffff;
  margin-bottom: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px 0 10px;
  border-bottom: 1px solid #EDEAD0;

}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  height: 100px;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navbar-utility {
  padding: 8px 25px 8px 25px;
  margin:10px;
  text-decoration: none;
  font-size: 20px;
  background-color: #A0E8AF; 
  border-radius: 10px;
  transition: 0.3s ;
}

.navbar-utility:hover{
  background-color: #A0E8AF;
}

.home-link {
  border-left: 1px solid #d0aa9c;
}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: #ffffff;
  height: 50px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #31150e;

}
.nav-search:hover {
  border: 2px solid #d0aa9c;
}

.searchbar {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px;
  width: 300px;
  font-size: 16px;
  box-shadow: none;
}
.searchbar:focus {
  outline: none;
  box-shadow: none;
}

.search-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.logo-text {
  text-decoration: none;
  font-size: 30px;
}



.showcase {
  width: 77%;
  margin: auto;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 30px 0 30px;
  position: relative;
 
}

.rec1 {
  background: url(Homepageimg/Regional.jpg);
}
.rec2 {
  background: url(Homepageimg/Continental.jpg);
}
.rec3 {
  background: url(Homepageimg/Street.jpg);
}
.rec4 {
  background: url(Homepageimg/home.jpg);
}
.item {
  height: 100%;
  width: 100%;
  background: cover;
  position: relative;
  margin: 30px 15px 30px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 0.7px solid #000000;
}
.recipe-redirect {
  bottom: 0px;
  position: absolute;
  width: 60%;
  height: 35px;
  font-size: 10px;
  text-decoration: none;
  z-index: 2;
  color: #000000;
  font-size: 20px;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #EDEAD0;
  bottom: -25px;
  transition: 0.3s ease;
}
.recipe-redirect:hover{
  background-color: #ffd1c0;
}


.section1 {
  width: 100%;
  height: 550px;


  border-bottom: 1px solid #b5b0b0;
}

.section-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #b5b0b0;
  width: 100%;
  height: 150px;
  background: url(Homepageimg/patel.jpg);
  background-size: cover;
}
.upload {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 100px;
  margin: auto;
  padding: 35px;
}

.uploading {
  text-decoration: none;
  background-color: #ffd1c0;
  box-shadow: 5px 5px 0 black;
  padding: 10px 15px 10px 15px;
  color: black;
  transition: 0.3s ease;
  border-radius: 0px;
}

.uploading:hover {
  background-color: #e9907a;
  transform: translateY(5px);
  box-shadow: none;
  border: 2px solid black;
}

.trend-rew {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background: cover;
}
.acc-name{
  padding-left: 5px;
}
.rew1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 25px;
  height: 500px;
  width: 100%;
  background: url(Homepageimg/patel.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  position: relative;
}

.rew2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  padding: 25px;
  height: 500px;
  width: 100%;
  background: url(Homepageimg/ahmed.jpg);
  background-size: cover;
  background-position: center;
  margin: 25px 0 25px 0;
  border-radius: 30px;
}
.rew3 {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  height: 500px;
  width: 100%;
  background: url(Homepageimg/taylor.jpg);
  background-size: cover;
  background-position: center;
  margin: 25px 0 25px 0;
  border-radius: 30px;
}
.trends {
  padding: 25px 50px;
  width: 50%;
  border-right: 1px solid #b5b0b0;
}

#trendingchoice {
  padding: 20px;
  font-size: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 0;
}

.rew-image {
  display: flex;
  width: max-content;
  padding: 3px 9px 3px 9px;
  align-items: flex-start;
  border-radius: 15px;
  background-color: #b5b0b0;
}
.rew-image p {
  margin: 0;
}

.rew-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: contain;
  z-index: -1;
  overflow: hidden;
}

.rew-p {
  font-size: 30px;
  color: white;
}
.rew-button {
  width: max-content;
  background-color: #ffd5c6;
  text-decoration: none;
  color: #3e1919;
  padding: 5px 12px 5px 12px;
  font-size: 20px;
  border-radius: 20px;
  transition: 0.3s ease;
}

.rew-button:hover {
  background-color: #ffa5a5;
}

.fav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35px;
  right: 35px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #d0aa9c;
}
.section3 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #b5b0b0;
  margin-bottom: 100px;

}

.listing {
  width: 100%;
  height: max-content;
  margin: 80px 0 80px 0;
  padding: 50px 50px 130px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: 1px solid #b5b0b0;
}

.list-group .list-group-item:nth-child(1) {
  background-color: #f8c2ad;
}
.list-group {
  border-radius: 20px;
  width: 75%;
}
.listing h1 {
  padding: 50px;
  font-size: 25px;
}
.right-part{
  width:50%;
}

.top-contri{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  margin: 50px;
}

.heading-contri{
  position: absolute;
  top: -30px;
  left: 50px;
  z-index: 1;
}
.image-sliding{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
  overflow-y: hidden;
  border-bottom: 1px solid #EDEAD0;



}
.centered-page{
  object-fit: fill;
}
.carousel {
  margin: 0;
  padding: 0;

}

.carousel-item img{
  object-fit: cover;
  height: 450px;
  margin: auto;
  width: 60%;
  
}
.centered-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px; /* Adjust the padding as needed */
  padding-bottom: 50px;
}

.carousel {
  width: 100%; /* You can adjust the width as necessary */
  max-width: 800px; /* Set a maximum width for the carousel */
}
.dropdown-menu{
  background-color: #ffd5c6;
}

.container-fluid{
  display: flex;
  justify-content: center;
}

.nav a{
  color: #000000;
}

.nav-button{
  background-color: #A0E8AF;
  color: black;
  border:0px;
  border-radius: 50%;
}