* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
  }

  .TopStyle {
    height: 100px;
    background-color: #ffffff;
    margin-bottom: 50px;
  }
  
  .TopStyle {
    height: 100px;
    background-color: #ffffff;
    margin-bottom: 50px;
  }
  
  .headingline{
  
    text-align: center;
    margin-top: 1rem;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #EDEAD0;
    background-color: #ffb76b;
  
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img {
    height: 100px;
    background-size: cover;
  }
  
  .logo-text:hover{
  
      
      text-shadow: 1px 1px #000;
  }
  
  
  
  .navbar-utility {
    padding: 8px 25px 8px 25px;
    margin:5px;
    text-decoration: none;
    font-size: 20px;
    background-color: #ffd1c0;; 
    border-radius: 10px;
    transition: 0.3s ;
  }
  
  .navbar-utility:hover{
    background-color: #f3784c;
    transform: scale(1.2);
  
  }
  .nav a{
    color: #000000;
  }
  
  .nav-button{
    background-color: #d0aa9c;
    color: black;
    border:0px;
    border-radius: 50%;
    transition: 0.3s;
  }
  
  .nav-button:hover{
  
    background-color: #f3784c;
    transform: scale(1.2);
  }
  
  .home-link {
    border-left: 1px solid #d0aa9c;
  }
  
  .nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: #ffffff;
    height: 50px;
    padding: 10px;
    border-radius: 20px;
    
  
  }
   

  .categories{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding: 50px;
  }

  .image-grid{
    max-width: 1224px;
    width: 90%;
    margin:auto;
    padding: 40px 0;
    

  }

  .title{
    margin-bottom: 2rem;
  }

  .photo-gallery{
    display: flex;
    gap:20px;

  }

  .columnnn{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .photo img{
    height:100%;
   width:100%;
   border-radius: 5px;
   object-fit: cover;
}